#report-container {
    float: left;
    width: 50%;
    padding-left: 50px;
    padding-top: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
    padding: 10px 0;
    height: 90px;
    /* กำหนดความสูงของ navbar เป็น 80px */
}

.navbar .container-fluid .btn {
    margin-right: 20px;
}
@media print {
    .color-cell {
      -webkit-print-color-adjust: exact !important;
      print-color-adjust: exact !important;
    }
  }