<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>3D Container Organizer</title>
</head>

<body>
    <div id="loadingScreen">
        <i class="fas fa-spinner spinner"></i>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light shadow ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/img/logodoc.png" alt="Logo" id="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="logoname d-flex">
                <li class="textleft list-unstyled fw-bold">Container</li>
                <li class="textright list-unstyled fw-bold">Flow 3D</li>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav p-5">
                    <li class="nav-item">
                        <button class="btn btn-light fs-5 px-4 text-secondary"
                            onclick="toggleFlux('ContainerContent')">Container</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light fs-5 px-4 text-secondary"
                            onclick="toggleFlux('boxContent')">Box</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light fs-5 px-4 text-secondary"
                            onclick="toggleFlux('listContent')">List</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-light fs-5 px-4 text-secondary"
                            onclick="toggleFlux('backupContent')">Backup</button>
                    </li>
                </ul>
            </div>
            <div class="dropdown mx-5">
                <a class="btn btn-secondary dropdown-toggle btn-lg" href="#" role="button" id="userDropdown"
                    style="background-color: #6a98b3; border: none;" data-bs-toggle="dropdown" aria-expanded="false">
                    Loading...
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Setting</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="ContainerContent">
        <h3 style="margin-left: 5px;">
            Container
        </h3>
        <div id="ContainerForms"></div>
    </div>

    <div id="ContainerDetail">
        <h3>DetailContainer</h3>
    </div>

    <div id="boxContent" class="boxContent">
        <h3 style="margin-left: 5px;">
            Box
            <i class="bi bi-plus-square-fill" onclick="addBox()"
                style="cursor: pointer; font-size: 25px; margin-left: 210px;"></i>
        </h3>
    </div>


    <div id="BoxDetail">
        <h3>BoxDetail</h3>
    </div>

    <div id="listContent">
        <h3>List <i class="bi bi-chevron-bar-up" onclick="toggleFlux('listContent')" style="cursor: pointer"></i></h3>
        <p>เนื้อหาของ List จะแสดงที่นี่เมื่อกดปุ่ม "List".</p>
    </div>

    <div id="backupContent">
        <h3>Backup <i class="bi bi-chevron-bar-up" onclick="toggleFlux('BackupContent')" style="cursor: pointer"></i>
        </h3>
        <p>เนื้อหาของ Backup จะแสดงที่นี่เมื่อกดปุ่ม "Backup".</p>
    </div>
    <button id="toggleButton" onclick="toggleIcon()">
        <i class="bi bi-caret-up-fill" id="toggleIcon"></i>
    </button>
    <div id="FooterContent">
        <div id="footerContent">
            <div id="FooterDetails" style="margin-top: -10px;"></div>
        </div>
    </div>

    <button id="manageButton" onclick="manageAction()">Manage</button>


    <script>
        // รับค่า userName จากฝั่งเซิร์ฟเวอร์
        const userName = '<%= userName %>';  // สั่งให้ EJS แสดงผลค่าจาก server

        // แสดงชื่อใน Dropdown หรือที่ต้องการ
        document.addEventListener('DOMContentLoaded', () => {
            const userDropdownLink = document.querySelector('#userDropdown');
            if (userDropdownLink) {
                userDropdownLink.textContent = userName;  // แสดงชื่อผู้ใช้ที่ล็อกอิน
            }
        });
    </script>
    <script src="/Js/containers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://threejs.org/examples/js/loaders/FontLoader.js"></script>
    <script src="https://threejs.org/examples/js/geometries/TextGeometry.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.132.2/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</body>

</html>